# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst
uim-jsonbase-test-default
uim-jsonbase-test-library
uim-jsonbase-test-offline
uim-jsonbase-test-uim_jsonbase
uim-jsonbase-test-uim-jsonbase
source/uim/jsonbase/classes/package.d
dub.selections.json
uim-jsonbase-test-testLib
